@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --tim: #624bff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f4f9;
  text-align: left;
}
.container {
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 200px 200px;
  padding: 20px 15px 50px;
  background-color: #fff;
  position: relative;
}
/* Content*/
h2 {
  color: var(--tim);
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
}
.p {
  margin-bottom: 5px;
}
.input {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
}
.button {
  border: 0;
  background-color: var(--tim);
  color: white;
}
.button:hover {
  color: black;
  background-color: #ddd;
}
.left {
  margin-top: 10px;
  position: absolute;
  left: 20px;
}
.right {
  margin-top: 10px;
  position: absolute;
  right: 20px;
}
/* End Content*/
