* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex; /* kich hoat flex box */
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header-flex-2 {
  background: tomato;
}
.main {
  text-align: left;
  background: deepskyblue;
  height: 400px;
  flex: 3; /* cho phần nội dung main ở giữa chiếm 3 phần không gian trống so với 2 phần aside bên cạnh */
  order: 2;
}
.aside {
  flex: 1;
} /* 2 phần aside sẽ chỉ chiếm 1 phần không gian */
.footer-flex-2 {
  background: lightgreen;
  order: 4;
}
.aside-1 {
  background: gold;
  height: 400px;
  order: 1;
}

.aside-2 {
  background: hotpink;
  height: 400px;
  order: 3;
}
