* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-one: #e28c1b;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./anh1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
  margin: 30px 0;
}

.container-1 h1 {
  color: white;
  font-size: 60px;
  margin: 40px 0;
}
.container-1 input {
  padding: 8px 20px;
  border-radius: 30px;
  border: none;
  width: 40%;
  font-size: 16px;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}
.container-2 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.container-2 ul li {
  margin: 15px;
  background: #ddd;
  color: var(--color-one);
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-size: 16px;
}
.active {
  background-color: var(--color-one) !important;
  color: white !important;
}
.container-2 .wrapper-container {
  display: flex;
}
.container-2 .wrapper-container .contain-img {
  width: 250px;
  margin: 15px;
  text-align: center;
}
.container-2 .wrapper-container .contain-img img {
  width: 100%;
  margin: 10px;
}
.container-2 .wrapper-container .contain-img p {
  width: 100%;
  margin: 10px;
  background-color: var(--color-one);
  border-radius: 8px;
  padding: 8px;
  color: yellow;
  font-weight: bold;
}
