@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 500;
	font-family: Poppins;
}

:root {
	--color-one: #f67906;
	--color-two: #f4a81d;
	--color-three: #e7e7e7;
	--text-desc-color: #5d677e;
	--text-title-color: #051441;
}

.box {
	border: 2px solid var(--color-three);
	border-radius: 25px;
	background-color: white;
	padding: 10px 18px;
}

.active-box {
	background: linear-gradient(
		103.38deg,
		var(--color-one) 5.1%,
		var(--color-two) 86.29%
	);
	color: white;
}

.active-text {
	color: var(--color-one);
	text-decoration: underline;
}
/*Header*/
header {
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	text-align: center;
}

header .logo-wrap {
	display: flex;
	align-items: center;
}

header .menu {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	width: 30%;
	align-items: center;
}

header .container {
	display: flex;
	gap: 18px;
}

/*End Header*/

.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
}
.wrapper .inner-content {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.wrapper .inner-content .subtitle {
	font-size: 13px;
	text-decoration: none;
}
.wrapper .inner-content .title {
	font-size: 50px;
	font-weight: bold;
	color: var(--text-title-color);
	width: 50%;
	margin: 25px 0px;
}

.wrapper .inner-content .desc {
	color: var(--text-desc-color);
	width: 60%;
	margin-bottom: 30px;
}
.wrapper .inner-content .wrapper-footer {
	display: flex;
	align-items: center;
	gap: 30px;
}
.wrapper .inner-content .wrapper-footer .icon-wrap {
	box-shadow: 0px 17px 25px 0px #8c8d921f;
	border-radius: 50%;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 24px;
}
.wrapper .inner-content .wrapper-footer .icon-wrap .icon {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 25px solid var(--color-one);
	border-bottom: 15px solid transparent;
}

.wrapper .inner-img {
	position: relative;
	/* width: 50%; */
}
.wrapper .inner-img div img {
	width: 100%;
}
.wrapper .inner-img div:not(div:nth-child(2)) {
	position: absolute;
	z-index: 999;
}
.wrapper .inner-img div:nth-child(1) {
	width: 450px;
}
.wrapper .inner-img div:nth-child(2) {
	position: relative;
	width: 500px;
}
.wrapper .inner-img div:nth-child(3) {
	top: 60px;
	left: -120px;
}
.wrapper .inner-img div:nth-child(4) {
	top: 10px;
	right: -90px;
}
.wrapper .inner-img div:nth-child(5) {
	top: 300px;
	right: -90px;
}
.wrapper .inner-img div:nth-child(6) {
	top: 220px;
	right: 120px;
}
.wrapper .inner-img div:nth-child(7) {
	top: 320px;
	left: -150px;
}
.wrapper .inner-img div:nth-child(8) {
	top: 300px;
	left: 180px;
}
.wrapper .inner-img div:nth-child(9) {
	top: 380px;
	left: 60px;
}
