* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--color-one: #fde7bb;
	--color-two: #fc8f54;
}
body {
	background: var(--color-one);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noti {
	margin: 20px;
	padding: 10px;
	border: 3px solid var(--color-two);
	border-radius: 10px;
	width: 30%;
}
h1 {
	text-decoration: underline;
	width: 30%;
	margin-bottom: 20px;
}
.box {
	display: flex;
	flex-direction: column;
	background-color: var(--color-two);
	border-radius: 10px;
	width: 30%;
	padding: 10px;
}
.box input {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 5px 0 10px 0;
	padding: 5px;
}
.content {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
}
